body{
    background: black ;
    color : gray;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin : 0;
    padding : 0;
    
   
}

#container{
    width: 70%;
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(99, 170, 183);
    margin: 0 auto ;
}

#container h1{
    border: 1px solid rgb(99, 170, 183);
    font-size: 40px;
}

#container p{

    font-size: 25px;
    
    text-align: center;
}

#cabecera{
<<<<<<< HEAD
    width: auto;
    background: #284196 ;
=======
    width: 30%;
    background: #b1dc3a ;
>>>>>>> footer
    color : white;
    margin : 0;
    padding: 20px;
    font-weight: bold;
    font-size: 60px;
    box-shadow: 10px 5px 5px rgb(43, 2, 2);
    text-align: left;

}

#cabecera #tagline{
    color : rgb(121, 216, 5);
    font-size: 30px;
    padding: 10px;
    margin : 0 auto ;

}

#cabecera #logo {
    width : 80px;
    vertical-align : middle;
}

#post {
    background : white;
    padding : 1em;
}
